[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
svg-turtle = "*"
python-chess = "*"
reportlab = "*"
space-tracer = "*"
cairosvg = "*"
svglib = "*"
rlpycairo = "*"
svgwrite = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
